extends layout
//- 标题
block title
	| 萌宠

//- 内容
block content_here
	img.share-weixin(src="img/banner-1.jpg")
	div.homepage
		div.banner
			img(src="img/banner-1.jpg")
		div.text
			img(src="img/banner-text.jpg")
		div.star(onclick="star()")
			img(src="img/btn-join.jpg")
	div.secondpage
		div.text
			img(src="img/banner-text.jpg")
		div.list.clearfix
			div.box-item(onclick="selectType(1)")
				img#ani1(src="") 
			div.box-item(onclick="selectType(2)")
				img#ani2(src="") 
			div.box-item(onclick="selectType(3)")
				img#ani3(src="") 
		div.list.clearfix
			div.box-item(onclick="selectType(4)")
				img#ani4(src="") 
			div.box-item(onclick="selectType(5)")
				img#ani5(src="") 
			div.box-item(onclick="selectType(6)")
				img#ani6(src="")
		div.mini
			img(src="img/icon-list.png")
	div.thirdpage
		div.text
			img(src="img/banner-text.jpg")
		div.box-item
			#mySlider.slider
				div.slide-group
					-for (var i=0;i<6;i++)
						div.slide
							img(src="",onclick="readyto(this)")
		div#slidermini.mini
			span.on
			span
			span
			span
			span
			span
	div.fourthpage
		div.text
			img(src="img/banner-text.jpg")
		div.box-item
			div.slide
				//- img(src="img/car1.jpg")
				canvas#canvas(width="445",height="445")
				textarea(name="text",type="text",placeholder="请输入文字")
		div.submit(onclick="createimg()")
			img(src="img/btn-submit.jpg")