extends layout
//- 内容
block content_here
	//- div#loadingpage
		div.text 
			span 加载中... 
	div.parent
		div.main
			img(src="img/app.jpg")
			div.list
				a(href="http://v.youku.com/v_show/id_XNzA5MDY5NzYw.html?x",target="_blank")
				a(href="http://movie.douban.com/subject/3642843/")
				a(href="http://movie.douban.com/subject/1293838/")
				a(href="http://movie.douban.com/subject/1294362/")
				a(href="http://movie.douban.com/subject/2131459/")
				a(href="http://movie.douban.com/subject/1652587/")
				a(href="http://movie.douban.com/subject/3006772/")
				a(href="http://movie.douban.com/subject/1300868/")
				a(href="http://movie.douban.com/subject/3771562/")
				a(href="http://movie.douban.com/subject/1794171/")
				a(href="http://movie.douban.com/subject/1291843/")
				
				div.banner
					a(href="http://lt.qq.com/webplat/info/news_version3/7338/7339/7341/m5808/201405/259598.shtml")
					a(href="http://ltzj.qq.com/d/youku.htm")
				//- div.item.item-1
				//- 	div.img
				//- 		img(src="img/item1.jpg")
				//- 	div.conts
				//- 		h4 报告老板 —— 星球大赞特别篇
				//- 		p 导演
				//- 			span 刘循子墨
				//- 		p 编剧
				//- 			span 柯达
				//- 		p 国家
				//- 			span 中国
				//- 	div.title Report boss
				//- 		label 豆瓣评分 
				//- 			span 10.0

				//- div.item.item-2
				//- div.item.item-3
//- css
block css_here
//- js
block js_here
	
