html,body{height:100%;font-family:'Helvetica Neue',Arial,sans-serif;font-size:16}
input,select,textarea{font-family:'Helvetica Neue',Arial,sans-serif}
html,body{height:100%}
ul{list-style:none}
a{text-decoration:none}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:'Helvetica Neue',Arial,sans-serif}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.67em;margin:2.33em 0}
h1,h2,h3,h4,h5,h6{font-family:'Helvetica Neue',Arial,'Hiragino Sans GB','Hiragino Sans GB W3','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
html,button,input,select,textarea{color:#222}
body{font-size:1em;line-height:1.4}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
audio,canvas,img,video{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
.browsehappy{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
.main{margin:0 auto;padding:0;width:100%;height:100%;overflow:hidden;position:relative}
#canvas{position:absolute;top:0;left:50%;z-index:200}
#loading{position:absolute;top:0;left:0;width:100%;height:100%;z-index:999;background:#fff}#loading span{color:#f00;display:block;position:absolute;top:50%;left:0;width:100%;height:40px;line-height:40px;text-align:center;margin-top:-40px;font-size:1.8em}
.note{position:absolute;top:-7%;left:0;width:100%;height:7%;background:url("../img/note.png") no-repeat center center;background-color:transparent;background-size:50% 100%;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;text-indent:-9999em;margin-top:-40px;z-index:201}
#replay{position:absolute;bottom:-7%;left:35%;width:30%;height:6%;background:url("../img/replay.png") no-repeat center center;background-color:transparent;background-size:contain;z-index:102;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
#logo{position:absolute;top:-20%;left:1.4em;width:30%;height:6%;background:url("../img/logo.png") no-repeat bottom center;background-color:transparent;background-size:contain;padding-top:1.4em;z-index:102;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
#fly{position:absolute;bottom:15%;left:-100%;width:100%;height:20%;z-index:102;background:url("../img/fly-1.png") no-repeat top left;background-color:transparent;background-size:contain;-moz-transition:all 2s ease;-webkit-transition:all 2s ease;-o-transition:all 2s ease;transition:all 2s ease}#fly .pro{position:absolute;top:-30px;right:30px;width:190px;height:163px}
#snowWrap{position:absolute;top:0;left:0;width:100%;height:100%;z-index:101}#snowWrap div{color:#fff;position:absolute;-moz-user-select:none;-webkit-user-select:none;user-select:none;-webkit-text-size-adjust:none;background:url("../img/snow.png") no-repeat center center;background-color:transparent;background-size:cover;text-indent:-9999em}
.b1{background-image:url("../img/fly-1.png") !important}.b1 .pro{background:url("../img/pro-1.png") no-repeat center center;background-color:transparent}
.b2{background-image:url("../img/fly-2.png") !important}.b2 .pro{background:url("../img/pro-2.png") no-repeat center center;background-color:transparent}
.b3{background-image:url("../img/fly-3.png") !important}
.op{position:absolute;top:0;left:50%}
.dis-box{display:box;display:-moz-box;display:-webkit-box}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}
.ir:before{content:"";display:block;width:0;height:150%}
.show{display:block !important;visibility:visible}
.hidden{display:none !important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
@media only screen and (min-width:35em){}@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){}@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important} a,a:visited{text-decoration:underline} a[href]:after{content:" (" attr(href) ")"} abbr[title]:after{content:" (" attr(title) ")"} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""} pre,blockquote{border:1px solid #999;page-break-inside:avoid} thead{display:table-header-group;} tr,img{page-break-inside:avoid} img{max-width:100% !important} @page {margin:.5cm}p,h2,h3{orphans:3;widows:3} h2,h3{page-break-after:avoid}}
