/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
/* The Nivo Slider styles */
.nivoSlider { position:relative;  background:#fff url("loading.gif") no-repeat 50% 50%; width:660px; height:393px;}
.nivoSlider img { position:absolute; top:0px; left:0px; }
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink { position:absolute; top:0px; left:0px; width:100%; height:100%; padding:0; margin:0; z-index:6; display:none; }
/* The slices and boxes in the Slider */
.nivo-slice { display:block; position:absolute; z-index:5; height:100%; }
.nivo-box { display:block; position:absolute; z-index:5; }
/* Caption styles */
.nivo-caption { position:absolute; left:0px; bottom:0px; background:#000; color:#fff; opacity:0.8; /* Overridden by captionOpacity setting */ width:100%; z-index:8; }
.nivo-caption p { padding:5px; margin:0; }
.nivo-caption a { display:inline !important; }
.nivo-html-caption { display:none; }
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav{border-top:3px solid #000; top:461px; position:absolute; width:990px;}
.nivo-directionNav a { position:absolute; top:-3px; z-index:9; cursor:pointer; width:40px; height:39px; text-indent:-2000px}
.nivo-prevNav { right:41px; background:url("../images/pre-next.png") 0 0 no-repeat;}
.nivo-prevNav:hover{background-position:0 -98px;}
.nivo-nextNav { right:0px; background:url("../images/pre-next.png") 0 -49px no-repeat;}
.nivo-nextNav:hover{background-position:0 -147px;}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {left:15px; position:absolute; bottom:15px;*z-index:10;}
.nivo-controlNav a { position:relative; z-index:9; cursor:pointer;  font-size:0px; width:14px; height:14px; float:left;margin-right:12px;background:url("../images/pre-next.png") 0 -34px no-repeat;}
.nivo-controlNav a.active { background:url("../images/pre-next.png") 0 0 no-repeat;}