@import url(less/kelvin.less);

img {
	width: 100%;
}
.bg {
	.tl();
}
.main {
	padding-top:283%;
}
.info {
	position: relative;
	display: block;
	.mp();
	.wh(172/640*100%);
	// margin-top: 283%;
}
.lot {
	position: relative;
	display: block;
	.mp();
	.wh(253/640*100%);
	margin-top: 8%
}
.checked {
	position: relative;
	display: block;
	.mp();
	.wh(253/640*100%);
	margin-top: 3%
}
.main2 {
	padding-top: 133%;
}
.back1 {
	position: relative;
	display: block;
	.mp();
	.wh(253/640*100%,80px);
	// margin-top: 133%;
}
.main3 {
	padding-top: 133%;
}
.back2 {
	position: relative;
	display: block;
	.mp();
	.wh(253/640*100%,80px);
	// margin-top: 133%;
}
.main4 {
	padding-top: 80%;
	.inputqq {
		display: block;
		width: 58%;
		height: 2em;
		margin:0px auto;
		padding:0px;
		position: relative;
		z-index: 4;
		border: none;
		background: transparent;
		outline: none;
	}
	.submit {
		display: block;
		width: 50%;
		margin: 0 auto;
		margin-top: 44%;
		height: 3em;
		position: relative;
		z-index: 4;
	}
}
.main5 {
	padding-top:53%;
	h4 {
		margin:0 auto;
		font-style: 1.4em;
		color: #000;
		display: block;
		width: 80%;
		height: 2.4em;
		line-height: 2.4em;
		text-align: center;
		position: relative;
		z-index: 4;
	}
	#qqname {

	}
	#lot {
		margin-top:10%;
	}
	.back4 {
		display: block;
		width: 50%;
		margin: 0 auto;
		margin-top: 44%;
		height: 3em;
		position: relative;
		z-index: 4;
	}
}