extends layout
//- 内容
block content_here
	div#main.main
		img#img.op
		canvas#canvas
		div#snowWrap
		div#loading
			span 正在努力加载...
		p#note.note 刮刮看
		div#replay.replay
		div#logo.logo
		div#fly
			div.pro
	div.gameend
//- css
block css_here
//- js
block js_here
	:coffee(bare="true")
		
