extends layout
//- 标题
block title
	| G点达人

//- 内容
block content_here
	div(style="position: absolute;opacity: 0; z-index:-1;")
		img(src="img/thumb.jpg")
	//- div(style="position:absolute; width:200px; height:567px; background: #fff;")
	div#mubu.mubu
		//- canvas#canvas(width="640")
	div#loading
		.text 正在努力加载中...
	//- canvas#testcan(width="640",height="920",style="border:solid 1px red;")
