@import "kelvin.less";

@cbg: #fff0f6;
@cttc: #7f3549;
@maxH : 100%;
img {
	width: 100%;
}
.main {
	position: relative;
	.mp();
	.wh(@maxH);
	background: @cbg;
}
.header {
	position: fixed;
	top:0px;
	z-index: 100;
	.wh(@maxH);
	// .b("../img/header.jpg",no-repeat,top,center);
	img {
		width: 100%;
	}
}
.banner {
	position: relative;
	.wh(@maxH);
	// .b("../img/banner.jpg",no-repeat,bottom,center);
	
	.moreinfo {
		display: block;
		.no-text();
		.br(0px,0px);
		.wh(100%,1.4em);
	}
}
.list {
	.mp();
	.title {
		// .no-text();
		// .wh(@h:90px);
		.mp(1.2em 0px);
	}
	.contss {
		.mp(@p:20px 0px);
	}
	.image {
		.wh(50%);
		float: left;
		text-align: center;
		img {
			.wh(80%);
			// border-radius: 5px;
			// border:solid 1px #ffa4c1;
		}
	}
	.textshow {
		width:50%;
		float: right;
		label { 
			color: #7f3549;
			font-weight: bold;
		}
		h2 {
			.mp(0px 20px 14px 0px);
			// padding-left:320px;
			font-size: 0.8em;
			line-height: 1.6em;
		}
	}
	li {
		.title {
			text-align: center;
		}
		.lines,.views {
			// padding-top:44px;
			// .b("../img/lines.jpg",no-repeat,top,center);
			p {
				text-align: justify;
				// float: left;
				// width: 100%;
				min-height: 1.2em;
				.mp(0px,0.4em 1.2em);
				font-size: 0.8em;
				line-height: 1.6em;
				color: @cttc;
				&:nth-child(odd) {
					background: #fffbfb;
				}
			} 
		}
		.views {
			// .b("../img/view.jpg",no-repeat,top,center);
		}
	}
}