//- for heard
mixin header(title)
	header.bar.bar-nav
		//这里需要后端获取前一个页的地址放到goback的href里.
		a#goback.icon.icon-left-nav.pull-left(href="#",data-transition="slide-out")
		a.icon.icon-home.pull-right(href="index.html",data-transition="slide-out")
		h1.title #{title}
doctype
html(lang="en").no-js
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		//- script(src="js/view.js")
		meta(name="viewport",content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
		title
			block title
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")
		link(rel="stylesheet",href="css/main.css")
		script(src="js/ratchet.js")
		script(src="js/public.js")

		block css_here
	body 
		block content_here
		include public
		block js_here