doctype
html(lang="en").no-js
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
		title
			|安全大搜捕-代号NOCO
		//- css
		//- if bootstrap
		//- link(rel="stylesheet",href="css/bootstrap.min.css")
		//- link(rel="stylesheet",href="css/bootstrap-theme.min.css")
		//- my 
		script(src="js/libs/Zepto.min.js")
		//- script(src="js/libs/tweenjs-0.5.1.min.js")
		//- script(src="js/libs/movieclip-0.7.1.min.js")
		//- script(src="js/libs/preloadjs-0.4.1.min.js")
		//- script(src="js/libs/soundjs-0.5.2.min.js")
		//- link(rel="stylesheet",href="css/index.css")
	body.page
		div#test
			input(type="file",name="testfile")
		br
		div#browe
		script.
			var ios = Math.abs(navigator.userAgent.toLowerCase().split("iphone os ")[1].split(" ")[0].replace(/_/gi,""))
			//- console.log arr
			if(ios<100) ios = ios*10;
			$("#test").append("<br/>ios:"+ios);

			$("#browe").html(navigator.userAgent.toLowerCase());
			var arr = Math.abs(navigator.userAgent.toLowerCase().split("android")[1].split(";")[0].replace(".",""));
			arr = arr<100 ? arr*10 : arr;
			$("#browe").html(navigator.userAgent.toLowerCase()+"<br/><br/>"+arr);

			