extends canvas
//- 标题
block title
	| 三八节，“想+”邀你做女王

//- 内容
block content_here
	div(style="position: absolute;opacity: 0;")
		img(src="img/thumb.jpg")
	div#mubu.mubu
		canvas#canvas(width="640",height="920")
	div.firstframe
		input#firstface(type="file",name="firstface",accept="image/*",capture="camera")
	div.secondframe
		input#secondface(type="file",name="secondface",accept="image/*",capture="camera")
	div.facehide
	div#loading 正在努力加载中...
	//- canvas#testcan(width="640",height="920",style="border:solid 1px red;")